build/
install/
log/

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
*.whl

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
CTestConfiguration.ini
CTestCustom.cmake
*.cmake.in.stamp
*.sh.stamp

.colcon_install_layout
.built_by
COLCON_IGNORE

.deps
*.o
*.o.d
*.so
*.a
*.out

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db