# cpplint 放宽项（理由见 docs/07-C++开发规范与编码指南.md §13.1）：
# - build/c++11: ROS 2 大量使用 C++11 以上的设施（如 <condition_variable>），此检查过时
# - runtime/references: 允许非 const 引用参数（ROS 2 代码风格允许）
# - legal/copyright: 本项目约定注释全中文，文件头使用中文版权行；
#   版权声明与 Apache-2.0 许可证原文由仓库根目录 LICENSE 文件承载
filter=-build/c++11,-runtime/references,-legal/copyright
linelength=100
